#LogoContainer {
    margin-top: 20vh;
}

#LogoContainer svg {
    height: 120px;
    width: 120px;
    fill: var(--main-font-color)
}

.violet {
    color: var(--main-font-color-emph)
}

.HomeText {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20vh;
}

#Home {
    width: 100%;
    text-align: center;
}

#HomeTitle {
    margin-top: 10vh;
    font-size: xx-large;
    font-weight: bolder;
}

#subTitle {
    font-size: xxx-large;
    font-weight: bolder;
    margin-top: 20px;
}

#subsubTitle {
    margin-bottom : 15vh;

}
#subsubTitle span {
    margin-left: 5px;

    margin-right: 5px;
}

#subsubTitle span:nth-of-type(1) {
    color: var(--main-font-color-comp2)
}

#subsubTitle span:nth-of-type(2) {
    color: var(--main-font-color-comp5)
}

#subsubTitle span:nth-of-type(3) {
    color: var(--main-font-color-comp3)
}

#subsubTitle span:nth-of-type(4) {
    color: var(--main-font-color-comp4)
}

#firstScreen {
    height: 100vh;
}

#secondScreen {
    height: 100vh;
}

.HomeArrowButtonDown {
    margin-top: 5vh;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid var(--main-font-color-emph);

}

.HomeArrowButtonUp {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid var(--main-font-color-emph);
}

.HomeArrowButtonRight {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid var(--main-font-color-emph);
}



#HomeArticle {
    padding-top:10vh;
    padding-bottom:5vh;
}

/* .LogoContainer svg {
    fill: url(#header-shape-gradient) red;
  }
  
  #header-shape-gradient {
    --color-stop: #f12c06;
    --color-bot: #faed34;
  } */